:root {
  --main: #70e000;
  --color1: #212529;
  --color2: #343a40;
  --color3: #495057;
  --color4: #6c757d;
  --color5: #adb5bd;
  --text: #e9ecef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--color2);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Page */
.page {
  width: 100vw;
  min-height: 100vh;
}

/* nav */
nav {
  width: auto;
  background-color: var(--color1);
  position: fixed;
  top: 40vh;
  left: 0.5rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

nav ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul li {
  padding: 12px 4px;
}

nav ul li a {
  font-size: 1.2rem;
  padding: 8px;
}

nav ul li a {
  color: var(--text);
}

@media screen and (max-width: 780px) {
  nav {
    width: auto;
    top: 10px;
    right: 10px;
  }

  nav ul {
    flex-direction: row;
  }
}

/* Dashboard */
.dashboard_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard_page .card {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  background-color: var(--color1);
  padding: 20px 16px;
  outline: 4px solid var(--main);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.dashboard_page .card .title,
.dashboard_page .card .balance_title {
  color: var(--main);
  font-size: 1.6rem;
  font-weight: 700;
}

.dashboard_page .card .accountAddress, 
.dashboard_page .card .balance {
  color: var(--text);
  font-weight: 400;
  font-size: 1.2rem;
}

.dashboard_page .card .btn {
  border: none;
  outline: none;
  padding: 0.4rem 1.2rem;
  margin-top: 1rem;
  background-color: var(--main);
  color: var(--color1);
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  border-radius: 4px;
  cursor: pointer;
}

.dashboard_page .card .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.dashboard_page .metamask {
  width: 200px;
  height: auto;
  filter: drop-shadow(12px 12px);
}

.dashboard_page .block {
  display: flex;
  gap: 20px;
}

.dashboard_page .block .metamask_install {
  color: var(--main);
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: var(--color1);
  padding: 8px 16px;
  border-radius: 4px;
  border: 2px solid var(--main);
}

.dashboard_page .block .reload {
  background-color: var(--color1);
  border: 2px solid var(--main);
  color: var(--main);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Form - Transaction page */
.form_page {
  display: grid;
  place-items: center;
}

.form_page form {
  width: 380px;
  display: flex;
  flex-direction: column;
  background-color: var(--color1);
  padding: 25px 30px;
  border-radius: 6px;
  border: 4px solid var(--main);
  gap: 20px;
}

.form_page form input {
  border: none;
  outline: none;
  border-radius: 2px;
}

.form_page form input[type="text"],
.form_page form input[type="number"] {
  background-color: var(--color2);
  font-size: 14px;
  padding: 8px 20px;
  color: var(--text);
}

.form_page form input[type="text"]:focus,
.form_page form input[type="number"]:focus {
  outline: 2px solid var(--main);
  outline-offset: 2px;
}

.form_page form .btn {
  border: none;
  outline: none;
  padding: 0.6rem 1.2rem;
  margin-top: 1rem;
  background-color: var(--main);
  color: var(--color1);
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  border-radius: 4px;
  cursor: pointer;
}

.form_page form .btn:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Loader page */
.loader_page {
  display: grid;
  place-items: center;
}

.loader_page .loader {
  width: 11.2px;
  height: 11.2px;
  animation: spinner-o824ag 1.2s infinite linear;
}

.loader_page .loader div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #70e000;
  border-radius: 50%;
  animation: spinner-vse6n7 1.5s infinite ease;
}

.loader_page .loader div:nth-child(1) {
  --rotation: 90;
}

.loader_page .loader div:nth-child(2) {
  --rotation: 180;
}

.loader_page .loader div:nth-child(3) {
  --rotation: 270;
}

.loader_page .loader div:nth-child(4) {
  --rotation: 360;
}

@keyframes spinner-vse6n7 {
  0%, 100% {
     transform: rotate(calc(var(--rotation) * 1deg)) translateY(0);
  }

  50% {
     transform: rotate(calc(var(--rotation) * 1deg)) translateY(300%);
  }
}

@keyframes spinner-o824ag {
  to {
     transform: rotate(360deg);
  }
}